@font-face 
{
src: url("Minecrafter.Alt.ttf");
}

.title 
{
-fx-font-family: 'Minecrafter Alt';
-fx-font-size: 36;
-fx-font-alignment: "center";
-fx-text-fill: white;
-fx-translate-y: 1;
}

.loginlabel
{
  -fx-font-family: 'Minecrafter Alt';
  -fx-font-alignment: "center";
}

.button
{
  -fx-font-family: 'Minecrafter Alt';
  -fx-font-alignment: "center";
}

.mainlabel 
{
-fx-font-family: 'Segoe UI';
-fx-font-weight: bold;
-fx-font-size: 12;
-fx-font-alignment: "center";
-fx-text-fill: white;
}

.server-desc-label
{
-fx-font-family: 'Segoe UI';
-fx-font-weight: bold;
-fx-font-size: 13;
-fx-font-alignment: "center";
-fx-text-fill: white;
}

#username-main-menu 
{
  -fx-font-family: 'Segoe UI';
  -fx-font-size: 12;
  -fx-font-weight:bold;
}

#server-combo-box 
{
  -fx-font-family: 'Segoe UI';
  -fx-font-weight:bold;
}

#about-combo-box 
{
  -fx-font-family: 'Segoe UI';
  -fx-font-weight:bold;
}

#default-menu
{
  -fx-font-family: 'Segoe UI';
  -fx-font-size: 12;
}

#menu-item-bold
{
  -fx-font-family: 'Segoe UI';
  -fx-font-size: 12;
  -fx-font-weight:bold;
}
